<div class="pm-column-container pm-parallax-panel" style="background-color: #fff; background-image: url(assets/images/innerpabeTitle-bg.jpg); background-position: 0 top" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
    <div class="container">
        <div class="innerpageTitle-panel">
            <h2>About Us</h2>
            <p>Everything you need to know about Medical-Link</p>
        </div>
    </div>
</div>
<div class="aboutup-main">
    <div class="about-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 about-box" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
                    <img src="assets/images/history-img.png" alt="">
                    <h6 class="pm-column-title">Our History</h6>
                    <div class="pm-title-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Pellentesque id tempus neque, dapibus molestie eros. Sed et viverra metus, eget dictum nulla. Vestibulum non efficitur massa. Morbi dolor nisl, tristique at magna ac, mollis vestibulum arcu.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 about-box" data-wow-delay="0.6s" data-wow-offset="50" data-wow-duration="1s">
                    <img src="assets/images/building-img.png" alt="">
                    <h6 class="pm-column-title">Building Trust</h6>
                    <div class="pm-title-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Pellentesque id tempus neque, dapibus molestie eros. Sed et viverra metus, eget dictum nulla. Vestibulum non efficitur massa. Morbi dolor nisl, tristique at magna ac, mollis vestibulum arcu.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 about-box" data-wow-delay="0.9s" data-wow-offset="50" data-wow-duration="1s">
                    <img src="assets/images/impriving-img.png" alt="">
                    <h6 class="pm-column-title">Improving Lives</h6>
                    <div class="pm-title-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Pellentesque id tempus neque, dapibus molestie eros. Sed et viverra metus, eget dictum nulla. Vestibulum non efficitur massa. Morbi dolor nisl, tristique at magna ac, mollis vestibulum arcu.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="pm-column-container testimonials pm-parallax-panel" style="background-color: #20bac7; background-image: url(assets/images/appointment-bg.jpg); background-repeat: repeat-y;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-50">
        <div class="container founder-meet">
            <div class="row">
                <div class="col-lg-12 pm-column-spacing pm-center">
                    <h5 class="light">Meet the founders</h5>
                    <p class="light">The original Medical-Link team that keeps medical practices moving forward</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pm-column-spacing">

                    <!-- Staff profile -->
                    <div class="pm-staff-profile-parent-container">
                        <div class="pm-staff-profile-container" style="background-image: url(assets/images/staff-profile1.jpg);">
                            <div class="pm-staff-profile-overlay-container">
                                <div class="pm-staff-profile-quote">
                                    <p>"The good physician treats the disease; the great physician treats the patient who has the disease."</p>
                                    <a href="#" class="pm-square-btn pm-center-align">View profile</a>
                                </div>
                            </div>
                            <a href="#" class="pm-staff-profile-expander fa fa-plus"></a>
                        </div>
                        <div class="pm-staff-profile-info">
                            <p class="pm-staff-profile-name light">dr. john stanton</p>
                            <p class="pm-staff-profile-title light">family physician</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pm-column-spacing">
                    <div class="pm-staff-profile-parent-container">
                        <div class="pm-staff-profile-container" style="background-image: url(assets/images/staff-profile2.jpg);">
                            <div class="pm-staff-profile-overlay-container">
                                <div class="pm-staff-profile-quote">
                                    <p>"The good physician treats the disease; the great physician treats the patient who has the disease."</p>
                                    <a href="#" class="pm-square-btn pm-center-align">View profile</a>
                                </div>
                            </div>
                            <a href="#" class="pm-staff-profile-expander fa fa-plus"></a>
                        </div>
                        <div class="pm-staff-profile-info">
                            <p class="pm-staff-profile-name light">mellisa dale</p>
                            <p class="pm-staff-profile-title light">nutrionist</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pm-column-spacing">
                    <div class="pm-staff-profile-parent-container">
                        <div class="pm-staff-profile-container" style="background-image: url(assets/images/staff-profile3.jpg);">
                            <div class="pm-staff-profile-overlay-container">
                                <div class="pm-staff-profile-quote">
                                    <p>"The good physician treats the disease; the great physician treats the patient who has the disease."</p>
                                    <a href="#" class="pm-square-btn pm-center-align">View profile</a>
                                </div>
                            </div>
                            <a href="#" class="pm-staff-profile-expander fa fa-plus"></a>
                        </div>
                        <div class="pm-staff-profile-info">
                            <p class="pm-staff-profile-name light">dr. peter michaels</p>
                            <p class="pm-staff-profile-title light">pediatrician</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container trackrecord-main">
        <div class="row">
            <div class="col-lg-12 trackrecord-head">
                <h5>We stand by our track record</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 desktop">
                <p class="typcn typcn-group pm-static-icon"></p>
                <div class="milestone">
                    <div class="milestone-content">
                        <span data-speed="2000" data-stop="1789" class="milestone-value"></span>
                        <div class="milestone-description">Patients Treated</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 desktop ">
                <p class="fa fa-ambulance pm-static-icon"></p>
                <div class="milestone">
                    <div class="milestone-content">
                        <span data-speed="2000" data-stop="548" class="milestone-value"></span>
                        <div class="milestone-description">Emergency Patients Treated</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 desktop">
                <p class="typcn typcn-phone pm-static-icon"></p>
                <div class="milestone">
                    <div class="milestone-content">
                        <span data-speed="2000" data-stop="3490" class="milestone-value"></span>
                        <div class="milestone-description">Appointments Booked</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 desktop">
                <p class="typcn typcn-mortar-board pm-static-icon"></p>
                <div class="milestone">
                    <div class="milestone-content">
                        <span data-speed="2000" data-stop="439" class="milestone-value"></span>
                        <div class="milestone-description">Practioneers Trained</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pm-column-container testimonials pm-parallax-panel" style="background-color: #20bac7; background-image: url(assets/images/areDoctor.jpg); background-repeat: repeat-y;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-50">
        <div class="container ourphilosophy-main">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 philosophy-left">
                    <h4 class="light">Our Philosophy and Values</h4>
                    <div class="pm-divider light"></div>
                    <br />
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pm-column-spacing">
                    <h4 class="light">Our core strengths</h4>
                    <div class="pm-divider light"></div>
                    <br />
                    <div class="pm-progress-bar-description" id="pm-progress-bar-desc-1">
                        Research &amp; Development
      <div class="pm-progress-bar-diamond"></div>
                        <span>90%</span>
                    </div>
                    <div class="pm-progress-bar"><span data-width="90" class="pm-progress-bar-outer" id="pm-progress-bar-1"><span class="pm-progress-bar-inner"></span></span></div>
                    <div class="pm-progress-bar-description" id="pm-progress-bar-desc-2">
                        Personal Health Care
      <div class="pm-progress-bar-diamond"></div>
                        <span>100%</span>
                    </div>
                    <div class="pm-progress-bar"><span data-width="100" class="pm-progress-bar-outer" id="pm-progress-bar-2"><span class="pm-progress-bar-inner"></span></span></div>
                    <div class="pm-progress-bar-description" id="pm-progress-bar-desc-3">
                        Program Development
      <div class="pm-progress-bar-diamond"></div>
                        <span>75%</span>
                    </div>
                    <div class="pm-progress-bar"><span data-width="75" class="pm-progress-bar-outer" id="pm-progress-bar-3"><span class="pm-progress-bar-inner"></span></span></div>
                    <div class="pm-progress-bar-description" id="pm-progress-bar-desc-4">
                        Event Co-ordination
      <div class="pm-progress-bar-diamond"></div>
                        <span>60%</span>
                    </div>
                    <div class="pm-progress-bar"><span data-width="60" class="pm-progress-bar-outer" id="pm-progress-bar-4"><span class="pm-progress-bar-inner"></span></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ourpatients-panel">
        <div class="row">
            <div class="col-lg-12 ourpatients-head">
                <h5>See what our patients are saying</h5>
            </div>
        </div>
        <div class="row ourpatients-body">
            <div class="col-lg-4 col-md-4 col-sm-12 desktop">
                <div class="pm-single-testimonial-shortcode">
                    <div style="background-image: url(assets/images/avatar1.jpg);" class="pm-single-testimonial-img-bg"></div>
                    <p class="name">dave johnson</p>
                    <p class="title">Electrical Engineer</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="quote">"Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea."</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="date">June 2014</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 desktop">
                <div class="pm-single-testimonial-shortcode">
                    <div style="background-image: url(assets/images/avatar2.jpg);" class="pm-single-testimonial-img-bg"></div>
                    <p class="name">nicole cadby</p>
                    <p class="title">Graphic designer</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="quote">"Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea."</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="date">September 2014</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 desktop">
                <div class="pm-single-testimonial-shortcode">
                    <div style="background-image: url(assets/images/avatar3.jpg);" class="pm-single-testimonial-img-bg"></div>
                    <p class="name">mike stanton</p>
                    <p class="title">College Professor</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="quote">"Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea."</p>
                    <div class="pm-single-testimonial-divider"></div>
                    <p class="date">December 2014</p>
                </div>
            </div>
        </div>
    </div>
</div>