
<app-menu></app-menu>
<router-outlet></router-outlet>

<div class="fat-footer">
    <div class="container">
        <div class="footer-detail clearfix">
            <div class="col-lg-4 footerabout-panel">
                <div class="footerabout">
                    <h2>About <strong>MedJoin</strong></h2>
                    <p>MediJoin is an online doctor consultation platform where users can get medical advice from doctors.</p>
                    <p>We provides various channels to contact our doctors such as posting as a health query or booking a slot for real time face-to-face consultation. One case use our service to consult with highly qualified physicians at the comfort of your home.</p>
                </div>
            </div>
            <div class="col-lg-4 quickcontact-panel">
                <div class="quickcontact">
                    <h2>Quick <strong>Contact</strong></h2>
                    <p class="footer-id"><a href="mailto:info@medjoin.com">info@medjoin.com</a></p>
                    <p class="footer-contact">+480 765 4321 </p>
                    <p class="footerform">Request an Appointment Now</p>
                </div>
            </div>
            <div class="col-lg-4 quicklink-panel">
                <div class="quicklink">
                    <h2>Quick <strong>Links</strong></h2>
                    <ul>
                        <li><a [routerLink]="['/home']">Home</a></li>
                        <li><a [routerLink]="['/about-us']">About Us</a></li>
                        <li><a [routerLink]="['/benefits']">Benefits</a></li>
                        <li><a [routerLink]="['/videoconsultation']">Video Consultation</a></li>   
                        <li><a [routerLink]="['/registeruser']">Registration</a></li>
                        <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-4 footer-logo">
                    <img src="../assets/images/footer-logo.png" alt="">
                </div>
                <div class="col-lg-4 footer-copyright">
                    <p>© 2015 MedJoin - All rights reserved.</p>
                </div>
                <div class="col-lg-4 footer-social">
                    <ul class="social-link">
                        <li class="facebook"><a></a></li>
                        <li class="twitter"><a></a></li>
                        <li class="linkin"><a></a></li>
                        <li class="youtube"><a></a></li>
                        <li class="googlep"><a></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>