<div class="pm-column-container pm-parallax-panel" style="background-color: #fff; background-image: url(assets/images/innerpabeTitle-bg.jpg); background-position: 0 top" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
    <div class="container">
        <div class="innerpageTitle-panel">
            <h2>Benefits</h2>
            <p>Benefits of Medjoin</p>
        </div>
    </div>
</div>
<div class="benefits-main">
    <div class="container benefits-head">
        <div class="row">
            <div class="col-lg-12">
                <h5>Don't see a particular question on our list?</h5>
                <div class="pm-divider"></div>
                <p>Feel free to email us at <a href="mailto:info@medjoin.com">info@medjoin.com</a> or call our support line at <strong>+480 765 4321</strong>.</p>
            </div>
        </div>
    </div>
    <div class="container benefit-accord">
        <div class="row">
            <div class="col-lg-12">
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse0" data-parent="#accordion" data-toggle="collapse">What are your hours of operation?</a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse0">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse1" data-parent="#accordion" data-toggle="collapse">Do you have a dental clinic?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse1">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos. </p>
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos. </p>
                                <a href="#" class="pm-standard-link pm-no-margin">Learn more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse2" data-parent="#accordion" data-toggle="collapse">What are your general wait times?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse2">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse3" data-parent="#accordion" data-toggle="collapse">What is your appointment cancellation policy?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse3">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse4" data-parent="#accordion" data-toggle="collapse">My child is sick? What should i do?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse4">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse5" data-parent="#accordion" data-toggle="collapse">Do you provide home health care services?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse5">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                                <a href="#" class="pm-standard-link pm-no-margin">Learn more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-plus"></i><a class="pm-accordion-link collapsed pm-dark-link" href="#collapse6" data-parent="#accordion" data-toggle="collapse">Do you have a cancer treatment team?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse6">
                            <div class="panel-body">
                                <p>Mauris adisciping fringila turpis intend tellus ornare etos pelim. Pulvunar est cardio neque vitae elit. Lorem vulputat paentra nunc gravida. Mauris adisciping fringila turpis intend tellus ornare etos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>