
<div class="pm-column-container pm-parallax-panel" style="background-color: #fff; background-image: url(assets/images/innerpabeTitle-bg.jpg); background-position: 0 top" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
    <div class="container">
        <div class="innerpageTitle-panel">
            <h2>Contact Us</h2>
            <p>Have a question? Our friendly staff is here to help</p>
        </div>
    </div>
</div>
<div class="contactus-main">
    <div class="container contactusaddress">
        <div class="row">
            <div class="col-lg-12 contact-touch">
                <h5>Get in touch with us</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer adipiscing elit, sed diam nonummy.</p>
                <br />
                <p><strong>Phone:</strong> +480 765 4321</p>
                <p><strong>Email:</strong> <a href="mailto:info@medical-link.com">info@medjoin.com</a></p>
                <br />
                <br />
                <p>
                    801, Pelican , Gujarat Chamber of Commerce 
                    <br />
                    Compound, Nr. Natraj Cinema, Ashram Road, 
                    <br />
                    Ahmedabad - 380 009.
                    <br />
                    Gujarat, INDIA 
                </p>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.8226529222493!2d72.570297!3d23.030283000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e845851387065%3A0x4a66f0b97ce791b7!2sKrish+Compusoft+Services+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1432968248837" width="600" height="450" frameborder="0" style="border: 0"></iframe>
    <div class="container contact-fillform">
        <div class="row">
            <div class="col-lg-12 fillform-title">
                <h5>Contact us by Form</h5>
            </div>
        </div>
        <div class="row">
            <!-- <form action="#" method="post">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input name="pm-first-name-field" class="pm-form-textfield" type="text" placeholder="First Name">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input name="pm-last-name-field" class="pm-form-textfield" type="text" placeholder="Last Name">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input name="pm-email-field" class="pm-form-textfield" type="text" placeholder="Email Address">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input name="pm-phone-field" class="pm-form-textfield" type="text" placeholder="Phone Number">
                </div>
                <div class="col-lg-12">
                    <textarea name="pm-textarea-field" class="pm-form-textarea" cols="50" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="col-lg-12 pm-center">
                    <input type="button" value="Submit Form &plus;" name="pm-form-submit-btn" class="pm-form-submit-btn">
                    <p class="pm-required">all fields are required</p>
                </div>
                <button type="submit">Send</button>
            </form> -->
        </div>
    </div>
</div>